<!DOCTYPE html>
<html lang="en">
<link rel = stylesheet href = "{{url_for('static', filename='styles/dict.css')}}">
<head>
    <meta charset="UTF-8">
    <title> Dictionary Documentation </title>
</head>
<body>
    <header>
        <h1> Dictionary Documentation </h1>
    </header>

    <main>
        <p> Url Format: http://127.0.0.1:8081/dict/word </p>
        <p>Url Example: <a href = "http://127.0.0.1:8081/dict/apple"> http://127.0.0.1:8081/dict/apple </a></p>
    </main>

    <footer>
        <p> By Kyle Galway </p>
    </footer>
</body>
</html>