<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page for Python Exercise Six</title>
</head>
<body>
    <header>
        <h1> This is the header of my web page! </h1>
    </header>

    <nav>
        <div><a href = "/about"> Google </a></div>
        <div><a href = "/contact"> Amazon </a></div>
        <div><a href = "/store">Youtube</a></div>
    </nav>

    <main>
        <p> Welcome to my web page! </p>
        <div>
            <a href = "https://google.com">
                <img style = "width: 10vh;" src = "https://images.pexels.com/photos/45201/kitty-cat-kitten-pet-45201.jpeg?cs=srgb&dl=pexels-pixabay-45201.jpg&fm=jpg">
            </a>
        </div>

    </main>

    <footer>
        <p> By Kyle Galway </p>
    </footer>
</body>
</html>